.list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.list-item {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-item div {
  margin-bottom: 5px;
}

.list-item div:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0 0 0;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* General Container Styling */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Form Styling */
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Loading, Error, and No Items Messages */
.loading,
.error,
.no-items {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

/* Drink Card Styling */
.data-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.data-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.drink-img {
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  transition: border-color 0.3s ease;
}

.drink-img:hover {
  border-color: #007bff;
}

/* Ingredient List Styling */
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

ul li {
  text-align: left;
  margin: 5px 0;
}


